<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAG7vo7l1TNNMnjVlVYpC-Tq3sGp5WfwEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>420825187852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dmrts.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchat-986ba</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-986ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420825187852:ios:11f66c28f120e6b1d01029</string>
</dict>
</plist>